@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

body {
  font-family: "Inter", sans-serif;
}

.primary-color {
  color: #d85111;
}

.secondary-color {
  color: #c1c1c1;
}

.third-color {
  color: #545757;
}

.main-background {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #d85111 100%);
  height: 500px;
}

.footer-background {
  background: linear-gradient(
    180deg,
    rgba(193, 193, 193, 0.5) 28%,
    rgba(193, 193, 193, 0) 100%
  );
}

.btn-wallet {
  background: #d85111;
  border-radius: 10px;
}

.btn-claim {
  background: rgba(255, 179, 0, 0.5);
  border-radius: 10px;
  border: 1px solid rgba(255, 179, 0, 0.5);
}

.input-bg {
  background: rgba(216, 81, 17, 0.1);
  border-radius: 10px;
  border: 1px solid rgba(216, 81, 17, 0.1);
}

.staking-card {
  background: #ffffff;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 40px;
  height: 100%;
}

.summary-card {
  background: rgba(255, 255, 255, 0.5);
  border: 2px solid #ffffff;
  box-sizing: border-box;
  backdrop-filter: blur(100px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 40px;
  width: 330px;
  height: 100%;
}
