@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

h1,
h2,
h3,
h4,
p,
span,
button {
  font-family: "Inter";
}

.primary-color {
  color: #d85111;
}

.secondary-color {
  color: #c1c1c1;
}

.third-color {
  color: #545757;
}

.main-background {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #d85111 100%);
  background-size: 100% 50%;
  background-repeat: no-repeat;
}

.footer-background {
  background: linear-gradient(
    180deg,
    rgba(193, 193, 193, 0.5) 28%,
    rgba(193, 193, 193, 0) 100%
  );
}

.btn-wallet {
  background: #d85111;
  border-radius: 10px;
  font-weight: 600;
  color: #fff;
}

.btn-claim {
  background: rgba(255, 179, 0, 0.5);
  border-radius: 10px;
  border: 1px solid rgba(255, 179, 0, 0.5);
}

.btn-cooldown {
  background: #e5e5e5;
  border-radius: 10px;
  color: #c1c1c1;
  font-weight: 600;
}

.btn-unlock {
  background: #ffffff;
  border: 2px solid #d85111;
  font-weight: 600;
  box-sizing: border-box;
  border-radius: 10px;
  color: #d85111;
}
.btn-balance {
  background: #000000;
  border-radius: 10px;
  font-weight: 600;
  margin-right: -15px;
}

.input-bg {
  background: rgba(216, 81, 17, 0.1);
  border-radius: 10px;
  border: 1px solid rgba(216, 81, 17, 0.1);
}

.staking-card {
  background: #ffffff;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 40px;
  height: 100%;
}

.summary-card {
  background: rgba(255, 255, 255, 0.5);
  border: 2px solid #ffffff;
  box-sizing: border-box;
  backdrop-filter: blur(100px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 40px;
  width: 330px;
  height: 100%;
}

.menu a {
  position: relative;
  padding: 0px 10px;
  transition: all 0.6s ease;
}

.menu a:hover {
  color: rgba(216, 81, 17, 1);
}

.active {
  color: #d85111;
  font-weight: 600;
}
.active:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 6px;
  background-color: #d85111;
  border-radius: 0px 0px 10px 10px;
  top: -16px;
  left: 0;
}

.inactive {
  color: rgba(216, 81, 17, 0.25);
  font-weight: 600;
}

input {
  padding: 12px 20px;
  font-family: "Roboto Mono", monospace;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.btn-tiny {
  background: #d85111;
  color: #ffffff;
  padding: 2px 10px;
  border-radius: 15px;
  position: absolute;
  bottom: 14px;
  right: 14px;
  font-size: 12px;
  text-transform: uppercase;
}
